
body{
    background-color: #1f1f1f;
    
}
.object-fit-cover{
    object-fit: cover;
}
.centered-content{
    max-width: 300px;
}
.centered-content-md{
    max-width: 37.5rem;
}
.section-padder{
    padding-top: 100px;
    padding-bottom: 100px;
}
.mh-100vh{
    min-height: 100vh;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}
.font-weight-light{
    font-weight: 300 !important;
}
/*##################-----Navigation----######################*/
.loader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0e0e0e;
    z-index: 1000;
}
.loader-inner{
	width:400px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}

/*##################-----Navigation----######################*/

.navbar {
    left: 0;
    top: 0px;
    
    z-index: 1;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: .9rem;
    font-weight: 500;
}


.navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler:hover {
    background: transparent !important;
  }
  
  .navbar-toggler .icon-bar {
    height: 2px;
    width: 35px;
    border-radius: 1px;
    display: block;
    background-color: #ffffff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
  
.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 8px;
}
button:focus {
    outline: none;
}
  
  /*---Animation menu (create X)---*/
  
  .navbar-toggler.x .icon-bar:nth-of-type(1) {
    -webkit-transform: translateX(3px) rotate(45deg);
    /* Safari 3-8 & Chrome 4-35 & Opera 15-22 */
    -ms-transform: translateX(3px) rotate(45deg);
    /* IE 9 */
    -moz-transform: translateX(3px) rotate(45deg);
    /* Firefox 3-15 */
    -o-transform: translateX(3px) rotate(45deg);
    /* Opera 10-14 */
    transform: translateX(3px) rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler.x .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
    /* For IE8 and earlier */
    -moz-opacity: 0;
    /* Older Firefox 1 */
  }
  
  .navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: translateX(3px) rotate(-45deg);
    -ms-transform: translateX(3px) rotate(-45deg);
    -moz-transform: translateX(3px)rotate(-45deg);
    -o-transform: translateX(3px) rotate(-45deg);
    transform: translateX(3px) rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  

  
  .nav-item {
    -webkit-animation-duration: 0.8s;
    /* Chrome 3-42 & Safari 4-8 & Opera 15-29 */
    -moz-animation-duration: 0.8s;
    /* Firefox 5-15 */
    -o-animation-duration: 0.8s;
    /* Opera 12-14 */
    animation-duration: 0.8s;
  }
  
  
  
  @media only screen and (min-device-width: 992px) {
    .animated {
      /*CSS transitions*/
      -o-transition-property: none !important;
      -moz-transition-property: none !important;
      -ms-transition-property: none !important;
      -webkit-transition-property: none !important;
      transition-property: none !important;
      /*CSS transforms*/
      -o-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important;
      /*CSS animations*/
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
    }
    
  }



/*##################-----Hero Section----######################*/
.down-btn {
    left: calc(50% + 43px);
    transform: translateX(-50%);
    bottom: 60px;
    z-index: 10;
}
.hero-bg{
    background-size: cover;
    background-color: #0e0e0e;
}


/*##################-----Statistics Section----######################*/
.statistics-items h1 {
    font-size: 103px;
    line-height: 88px;
    margin-bottom: 0px;
}
.statistics-items span {
    display: block;
    align-self: flex-start;
    font-size: 10px;
    margin-top: 7px;
    max-width: 93px;
    line-height: 14px;
    text-transform: uppercase;
}


/*##################-----Slider Section----######################*/
.carousel_slide_bottom_pagination{
    font-size: 1.25rem;
    color: rgba(0,0,0,.25);
}
.carousel_slide_bottom_pagination span{
    color: #000;
}
/*##################-----Slider Illustration----######################*/
.illustration_inner{
    white-space: nowrap;
}
.illustration_inner_item{
    -webkit-animation-play-state: running;
    animation-play-state: running;
    width: 118vw;
    max-width: none;
    display: inline-block;
    animation: railIllustration 50s linear infinite;
}
@keyframes railIllustration{
    0% {
        transform: translateZ(0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}

/*##################-----Slider Text----######################*/
.bg-text {
    top: 0px;
    left: 0px;
    font-size: 131px;
    opacity: .2;
}
.rail-group-container{
    position: relative;
    white-space: nowrap;
    display: inline-flex;
    width: auto;
}

.rail-group-container .rail-item{
    font-size: 7rem;
    white-space: nowrap;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    max-width: none;
    display: inline-block;
    animation: railIllustration 50s linear infinite;
}


/*##################-----Benefit Section----######################*/
.table-benefits_row{
    margin-top: 1px;
}
.benefits-info{
    width: 40%;
}


/*##################-----Map Section----######################*/
.vision-map_dots {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.vision-map_dots_item {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 0;
    font-size: 20px;
    border: 0px;
    background-color: black;
    color: white;
    outline: none;
}
.vision-map_dots_item:before {
    background-color: #000;
    content: "";
    z-index: -1;
    transform: scale(1);
    transition: transform .3s cubic-bezier(.4,0,0,1),background .3s cubic-bezier(.4,0,0,1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.vision-map_dots_item:hover:before {
    transform: scale(1.33);
}
.vision-map_dots_item_tooltip {
    position: absolute;
    left: 50%;
    bottom: 100%;
    background-color: #000;
    color: #fff;
    width: 200px;
    padding: .625rem;
    transform: translate3d(-50%,-50px,0);
    opacity: 0;
    transition: transform .3s cubic-bezier(.4,0,0,1),opacity .3s cubic-bezier(.4,0,0,1);
    pointer-events: none;
}
.vision-map_dots_item span{
    position: relative;
    top: -3px;
}
.vision-map_dots_item:hover .vision-map_dots_item_tooltip {
    transform: translate3d(-50%,-20px,0);
    opacity: 1;
}

/*##################-----Cta Section----######################*/
.cta-interested_link_label{
    display: inline-block;
    font-size: 6.875rem;
    text-transform: uppercase;
 
}
a.cta-interested_link{
    text-decoration: none !important;
    display: inline-block;
}


/*##################-----Footer Section----######################*/
@media (min-width: 992px){
.footer_half_item:first-child {
    border-right: 1px solid #fff;
}
}

footer{
    background-color: #161616;
}

.footer_newsletter_title {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 2.125rem;
    max-width: 22.25rem;
    font-weight: 400;
}
.footer_block_newsletter_input {
    color: #000;
    font-size: 1.375rem;
    padding: 1.875rem 6.25rem 1.875rem 1.25rem;
    background-color: #fff;
    transition: background-color .3s cubic-bezier(.4,0,0,1);
    max-width: 370px;
    border-radius: 0px;
    background-image: url(../images/right-arrow-light.svg);
    background-size: 30px;
    background-position: right 30px center;
    background-repeat: no-repeat;
}
.footer_block_newsletter_input::placeholder{
    color: #d2d2d2;
}
.copy-right-container{
    border-top: 1px solid #fff;
}
.copy-right-container{
    
    background-image: url(../images/bottom_abstract_left.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 330px;
}
.copy-right-container-inner{
    min-height: 300px;
    background-image: url(../images/bottom_abstract_right.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 400px;
}

/*##################-----Circles----######################*/
.circle.lg{
    width: 15.625rem;
    height: 15.625rem;
    top: 1rem;
    left: -6.8125rem;
}
.circle {
    background-color: #161616;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
.circle.sm {
    width: 7.625rem;
    height: 7.625rem;
    top: 1rem;
    left: -3.8125rem;
}
.section-header .circle {
    width: 5.625rem;
    height: 5.625rem;
    top: -1rem;
    left: -2.8125rem;
}
.circle.cta-circle {
    z-index: 2;
    top: 7rem;
    left: -3.8125rem;
    background-color: white;
    color: black;
}
.circle.cta-circle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    transition: transform .3s cubic-bezier(.4,0,0,1);
    border-radius: 50%;
}

.circle.cta-circle:hover::before {
    transform: scale(1.2);
}


/*##################-----Buttons Section----######################*/
.btn {
    border-radius: 25px;
    font-size: 12px;
    min-height: 38px;
    padding: 4px 20px;
}
.btn-dark {
    background-color: #1f1f1f;
    border-color: #1f1f1f;
}

