body{
    background-color: #1f1f1f;
}
.object-fit-cover{
    object-fit: cover;
}
.centered-content{
    max-width: 300px;
}
.centered-content-md{
    max-width: 37.5rem;
}
.section-padder{
    padding-top: 100px;
    padding-bottom: 100px;
}
.navbar {
    left: 0;
    top: 0px;
    
    z-index: 1;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: .9rem;
}


.down-btn {
    left: calc(50% + 20px);
    transform: translateX(-50%);
    bottom: 70px;
    z-index: 10;
}

.bg-text {
    top: 0px;
    left: 0px;
    font-size: 131px;
    width: 200%;
    opacity: .2;
}
.statistics-items h1 {
    font-size: 103px;
    line-height: 88px;
    margin-bottom: 0px;
}
.statistics-items span {
    display: block;
    align-self: flex-start;
    font-size: 10px;
    margin-top: 7px;
    max-width: 93px;
    line-height: 14px;
    text-transform: uppercase;
}
.carousel_slide_bottom_pagination{
    font-size: 1.25rem;
    color: rgba(0,0,0,.25);
}
.carousel_slide_bottom_pagination span{
    color: #000;
}

.rail-group-container{
    position: relative;
    white-space: nowrap;
    display: inline-flex;
    width: auto;
}
.rail-group-container .rail-item{
    font-size: 7rem;
}

.table-benefits_row{
    margin-top: 1px;
}
.benefits-info{
    width: 40%;
}

.vision-map_dots {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.vision-map_dots_item {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 0;
    font-size: 20px;
    border: 0px;
    background-color: black;
    color: white;
    outline: none;
}
.vision-map_dots_item:before {
    background-color: #000;
    content: "";
    z-index: -1;
    transform: scale(1);
    transition: transform .3s cubic-bezier(.4,0,0,1),background .3s cubic-bezier(.4,0,0,1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.vision-map_dots_item:hover:before {
    transform: scale(1.33);
}
.vision-map_dots_item_tooltip {
    position: absolute;
    left: 50%;
    bottom: 100%;
    background-color: #000;
    color: #fff;
    width: 200px;
    padding: .625rem;
    transform: translate3d(-50%,-50px,0);
    opacity: 0;
    transition: transform .3s cubic-bezier(.4,0,0,1),opacity .3s cubic-bezier(.4,0,0,1);
    pointer-events: none;
}
.vision-map_dots_item span{
    position: relative;
    top: -3px;
}
.vision-map_dots_item:hover .vision-map_dots_item_tooltip {
    transform: translate3d(-50%,-20px,0);
    opacity: 1;
}
.cta-interested_link_label{
    display: inline-block;
    font-size: 6.875rem;
    text-transform: uppercase;
 
}
a.cta-interested_link{
    text-decoration: none !important;
    display: inline-block;
}

@media (min-width: 992px){
.footer_half_item:first-child {
    border-right: 1px solid #fff;
}
}

footer{
    background-color: #161616;
}

.footer_newsletter_title {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 2.125rem;
    max-width: 22.25rem;
    font-weight: 400;
}
.footer_block_newsletter_input {
    color: #000;
    font-size: 1.375rem;
    padding: 1.875rem 6.25rem 1.875rem 1.25rem;
    background-color: #fff;
    transition: background-color .3s cubic-bezier(.4,0,0,1);
    max-width: 370px;
    border-radius: 0px;
    background-image: url(../images/right-arrow-light.svg);
    background-size: 30px;
    background-position: right 30px center;
    background-repeat: no-repeat;
}
.footer_block_newsletter_input::placeholder{
    color: #d2d2d2;
}
.copy-right-container{
    border-top: 1px solid #fff;
}
.copy-right-container{
    
    background-image: url(../images/bottom_abstract_left.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 330px;
}
.copy-right-container-inner{
    min-height: 300px;
    background-image: url(../images/bottom_abstract_right.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 400px;
}
.circle.lg{
    width: 15.625rem;
    height: 15.625rem;
    top: 1rem;
    left: -6.8125rem;
}
.circle {
    background-color: #161616;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
.circle.sm {
    width: 7.625rem;
    height: 7.625rem;
    top: 1rem;
    left: -3.8125rem;
}
.section-header .circle {
    width: 5.625rem;
    height: 5.625rem;
    top: -1rem;
    left: -2.8125rem;
}
.circle.cta-circle {
    z-index: 2;
    top: 7rem;
    left: -3.8125rem;
    background-color: white;
    color: black;
}
.circle.cta-circle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    transition: transform .3s cubic-bezier(.4,0,0,1);
    border-radius: 50%;
}

.circle.cta-circle:hover::before {
    transform: scale(1.2);
}

.btn {
    border-radius: 25px;
    font-size: 12px;
    min-height: 38px;
    padding: 4px 20px;
}
.btn-dark {
    background-color: #1f1f1f;
    border-color: #1f1f1f;
}